@import url('https://fonts.googleapis.com/css?family=Rubik:300,400');

body {
   text-align: center;
   margin: 20px auto 50px auto;
   padding: 0px;
   touch-action: manipulation;
}

h1, h2, h3, h4, h5, h6, p, button {
   font-family: 'Rubik', sans-serif;
   margin: 0px;
}

h1, h3 {
   font-weight: 400;
}

h5, h6, p {
   font-weight: 300;
}

h1 {
   font-size: 36px;
}

h3 {
   font-size: 24px;
   padding-top: 8px;
}

h5 {
   font-size: 18px;
   margin-top: 20px;
}

h6 {
   font-size: 12px;
   margin-top: 10px;
}

p {
   font-size: 18px;
   margin: 0px;
}

a {
   color: black;
}

.container {
   margin: auto;
}

.unit {
   margin: 0px 0px 24px 0px;
}

.display {
   border-radius: 10px;
   width: 280px;
   margin: 0px auto 0px auto;
}

.light-grey-background {
   background-color: #f2f2f2;
}

.grey-background {
   background-color: #e3e3e3;
}

.dashed {
   border: 1px dashed black;
}

.targets {
   padding: 2px 0px 8px 0px;
}

button {
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   background-color: #f2f2f2;
   color: #a1a1a1;
   min-height: 80px;
   width: 100%;
   border-radius: 10px;
   border-left: none;
   border-right: none;
   border-top: 0px;
   border-bottom: 4px solid #a1a1a1;
   padding: 0px;
   outline: none;
   cursor: pointer;
}

button:active {
   background-color: #d8d8d8;
   border-top: 0px;
   border-bottom: 4px solid #d8d8d8;
}

.button-trigger {
   background-color: #f2f2f2;
   color: black;
}

.title {
   font-weight: 400;
   text-decoration: underline;
   text-align: center;
}

.name {
   margin-bottom: 10px;
}

.underline {
   text-decoration: underline;
}

.pulse1 {
   opacity: 1;
}

.pulse0 {
   opacity: 0;
}

#results {
   color: black;
   text-decoration: underline;
}

#results1, #results1list {
   color: #2b4dba;
}

#results2, #results2list, #results3, #results3list {
   color: #ea3856;
}